APP_NAME=ThwShop
PORT=8000
DEFAULT_CURRENCY=USD
# do not use / end of this SHOP_URL
SHOP_URL=http://localhost:3003
JWT_KEY=123456
#### strip api key ---->

STRIPE_API_KEY=

# Payment -> Paypal
# Values: sandbox or live -> sanbox for development and live for production
PAYPAL_MODE=sandbox

#PayPal Setting & API Credentials - sandbox
PAYPAL_SANDBOX_CLIENT_ID=
PAYPAL_SANDBOX_CLIENT_SECRET=

#PayPal Setting & API Credentials - live
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=thw-shop
REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=
REDIS_DEFAULT_EXPIRED_TIME= #hours
# Mail configs
POSTMARK_API_TOKEN=
MAIL_FROM=
FORGET_PASSWORD_TEMPLATE_ID=

AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_S3_BUCKET_NAME=thw-shop
AWS_REGION=us-east-1